*, *::before, *::after {
  box-sizing: border-box;
	margin: 0;
}

body {
	font: 16px 'Arial', sans-serif;
	color: #d1c4c4;
	/*background-color: black;*/
    background: rebeccapurple;
}

.container {
	max-width: 676px;
	margin: 0 auto;
	padding: 0 15px;
}

.game-info {
	display: flex;
  justify-content: space-between;
  padding: 15px 0 15px;
}

.start, .stop {
  padding: 6px 20px;
  border: none;
  color: black;
  border-radius: 5px;
  background-color: #d1c4c4;
  transition: .3s background-color;
}

.start:hover {
  background-color: #7ca500;
}

.stop:hover {
  background-color: #cc1104;
}

#canvas {        
  border: solid 3px #d1c4c4;
}